body{
  font-family: "Helvetica Neue",Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  /* background-color: greenyellow; */
  background-image: url("背景.jpg");
  /* background-size: cover; */
  margin-top: 0;
}

.kottun {
  width: 600px; 
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}
  
h1{
  text-align: center;
  font-size: 50px;
  color:red
}

.no1{
  position: absolute; top:680px; left:850px
}
.no2{
  position: absolute; top:680px; left:200px
}

.めぐみ img {
 border-radius: 50%;
 border-width: 4px;
 border-style: solid;
 border-color: white;
 position: absolute; top:1940px; left:100px;
}

p{
  font-size: 20px;
  text-align: center;
}

iframe{
  position: absolute; top:1350px; left:550px
} 
  
.sen{
  position: absolute; top:1180px; left:550px
} 

 .no3{
  position: absolute; top:1700px; left:550px;
  
} 
 
.fa{
  position: absolute; top:1950px; left:250px;
  margin-bottom: 100px;
}


.faho{
  position: absolute; top:1950px; left:450px;
}

.me{
  font-size: 30px;
  color: red;
  position: absolute; top:1950px; left:700px;
}
 
 